.root{
    -fx-background-color: 	#E3DBCE;

}

#backButton{
    -fx-graphic:  url("/backbutton.png");
    -fx-background-color: 	#E3DBCE;
}

#btnPlay{
    -fx-graphic: url("/playbutton.png");
    -fx-background-color: 	#E3DBCE;
}

#btnStop{
    -fx-graphic: url("/pausebutton.png");
    -fx-background-color: 	#E3DBCE;
}

#backBtn{
    -fx-graphic:  url("/backbutton.png");
    -fx-background-color: 	#E3DBCE;
}